:root {
    --dark:#080808;
    --light:#ffffff;
}
/*Reset CSS default setting*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* css3 when anchor directs to an element, it will scroll to it smoothly. */
html{
    scroll-behavior: smooth;
}

body {
    background: var(--dark);
    color: var(--light);
}
/*paragraph*/
p {
    font-size: 16px;
    margin-top: 10%;
}
h1 {
    font-size: 32px;
    display: inline-block
    
}
button {
    width: 150px;
    margin: 0 .5%;
    font-size: 100%;
    color: #fa0606;
    background: var(--light);
    margin: none
}
button:hover {
    background-color: #ec0ac3;
    color: var(--light);
}
button:active {
    font-size: 180%;
    box-shadow: 0 0 10px var(--dark) inset;
}
button:focus {
    outline: none;
    border-color: #8ac4ff;
}
nav {
    display: inline-block;
    width: 65%;
}

ul {
    text-align: right;
    display: inline-block;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
}

/*Hero Image looks good*/
#background-img {
    height: 400px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url(Pictures/IT\ background.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;    
}
.header-text {
    font-size: 30px;
    margin-top: 5px;
}
.header-text h2 {
    font-size: 48px;

}
.header-text {
    padding-left: 10px;
}
/*my-image*/
.my-image {
    display: inline-block;
    margin-left: 20px;
}
/*About me*/
.about-me {
    font-size: 14px;
    display: inline-block;
    width: 60%;
    
}
.about-me p {
    margin-top: 23px;
    font-size: 14px;
    margin-left: 10px;
      
}
/*My Portfolio*/
.my-portfolio h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 10%;
}
/*All project headings*/
.my-portfolio h3 {
    font-size: 24px;
    margin-top: 5%;  
}

.my-portfolio{
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionBanner{
    margin-top: 20px;
    padding-left:20px;
    border-top: 2px solid var(--light);
}
.projectCard {
    background: var(--light);
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    margin:15px;
    box-shadow: 5px 5px 10px 5px #fcff9e8c;
}

.projectCard{
    color: var(--dark);
}

.projectImageWrapper{
    display:flex;
}

.projectImageWrapper a{
    margin: auto;
}

.projectCard h3{
    text-align:center;
}

@media screen and (max-width: 768px) {
    section,
    div {
      flex-direction: column;
    }

/* Change the header background */
    header {
    background: #772014;
  }
  }

@media screen and (max-width: 576px) {
    section,
    div {
      flex-direction: column;
    }

/* Change the header background */
  header {
    background: #8ac4ff;
  }
  }

#hover-img {
    padding: 50px;
    transition: transform .5s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
      
#hover-img:hover {
    transform: scale(1.5); 
}

/*Footer*/
.contactme {
    background: var(--dark);
    height: auto;
    width: 100%;
    color: var(--light);
    padding-top: 10px;
    padding-bottom: 10px;
}

.contactmeWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactme h2 {
    text-align: center;
    padding-bottom: 10px;
}

.footerIcon{
    width:30px;
    height:30px;
    margin-top:auto;
    margin-bottom:auto;
}


.contactNum{
    margin-top:auto;
    margin-bottom:auto;
}
