:root {
    --A:var(--A);
    --B:var(--B);
    --C: var(--C);
}
/*Reset CSS default setting*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/*whole body content please choose other color*/
body {
    background: #080808;
    color: #fff;
}
/*paragraph*/
p {
    font-size: 16px;
    margin-top: 10%;
}
/*I am lost here why its not in a line with the buttons*/
h1 {
    font-size: 32px;
    display: inline-block
}
button {
    width: 150px;
    margin: 0 .5%;
    font-size: 100%;
    color: #fa0606;
    background: #ffffff;
    margin: none
}
button:hover {
    background-color: #ec0ac3;
    color: #fff;
}
button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}
button:focus {
    outline: none;
    border-color: #8ac4ff;
}
nav {
    display: inline-block;
    width: 65%;
}

ul {
    text-align: right;
    display: inline-block;
    width: 100%;
}
/*Nav a tag fonts but how to put text to the right?*/
a {
    text-decoration: none;
    font-size: 14px;
}

/*Hero Image looks good*/
#background-img {
    height: 400px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    /*Check this*/
    background-image: url(Pictures/IT\ background.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;    
}
.header-text {
    font-size: 30px;
    margin-top: 5px;
}
.header-text h2 {
    font-size: 48px;

}
/*my-image*/
.my-image {
    display: inline-block;
    margin-left: 20px;
}
/*About me*/
.about-me {
    font-size: 14px;
    display: inline-block;
    width: 60%;
    
}
.about-me p {
    margin-top: 23px;
    font-size: 14px;
    margin-left: 10px;
      
}
/*My Portfolio*/
/*My Portfolio Heading*/
.my-portfolio h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 10%;
}
/*Horiseon Refactor Project*/
/*help!!! when hover heading disapper*/
.my-portfolio h3 {
    font-size: 24px;
    margin-top: 5%;  
}
    



.project-1 {
    
}


.project-2 {
    
}

.project-3 {

}

.project-4 {

}

#hover-img {
    padding: 50px;
    transition: transform .5s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
      
#hover-img:hover {
    transform: scale(1.5); 
}

/*Footer*/
/*why linkedin and github is in purple*/
