:root {
    --A:var(--A);
    --B:var(--B);
    --C: var(--C);
}
/*Reset CSS default setting*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/*whole body content please choose other color*/
body {
    background: #080808;
    color: #fff;
}
/*paragraph*/
p {
    font-size: 16px;
}
/*I am lost here why its not in a line with the buttons*/
h1 {
    font-size: 32px;
    display: inline-block
}
button {
    width: 150px;
    margin: 0 .5%;
    font-size: 100%;
    color: #fa0606;
    background: #ffffff;
    margin: none
}
button:hover {
    background-color: #ec0ac3;
    color: #fff;
}
button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}
button:focus {
    outline: none;
    border-color: #8ac4ff;
}
/*Nav a tag fonts but how to put text to the right?*/
a {
    text-decoration: none;
    font-size: 14px;
    background-color: #080808;
}
/*Hero Image looks good*/
#background-img {
    height: 400px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url(Pictures/IT\ background.jpg);
    background-size: cover;
    background-position: center;    
}
/*Why i cant push down the paragraph.. what is the diff with px and %*/
.header-text {
    font-size: 30px;
    margin-top: 5px;
}
.header-text h1 {
    font-size: 48px;
    margin-top: 10%;
}
/*my-image*/
.my-image {
    display: block;
    margin-left: 20px;
}
/*About me*/
.section {
    font-size: 100px;
    
}

/*My Portfolio*/
/*don forget the hover + enlarge part*/

/*Footer*/
